In [4]:

import pandas as pd
import talib
print(talib.get_functions())

['HT_DCPERIOD', 'HT_DCPHASE', 'HT_PHASOR', 'HT_SINE', 'HT_TRENDMODE', 'ADD', 'DIV', 'MAX', 'MAXINDEX', 'MIN', 'MININDEX', 'MINMAX', 'MINMAXINDEX', 'MULT', 'SUB', 'SUM', 'ACOS', 'ASIN', 'ATAN', 'CEIL', 'COS', 'COSH', 'EXP', 'FLOOR', 'LN', 'LOG10', 'SIN', 'SINH', 'SQRT', 'TAN', 'TANH', 'ADX', 'ADXR', 'APO', 'AROON', 'AROONOSC', 'BOP', 'CCI', 'CMO', 'DX', 'MACD', 'MACDEXT', 'MACDFIX', 'MFI', 'MINUS_DI', 'MINUS_DM', 'MOM', 'PLUS_DI', 'PLUS_DM', 'PPO', 'ROC', 'ROCP', 'ROCR', 'ROCR100', 'RSI', 'STOCH', 'STOCHF', 'STOCHRSI', 'TRIX', 'ULTOSC', 'WILLR', 'BBANDS', 'DEMA', 'EMA', 'HT_TRENDLINE', 'KAMA', 'MA', 'MAMA', 'MAVP', 'MIDPOINT', 'MIDPRICE', 'SAR', 'SAREXT', 'SMA', 'T3', 'TEMA', 'TRIMA', 'WMA', 'CDL2CROWS', 'CDL3BLACKCROWS', 'CDL3INSIDE', 'CDL3LINESTRIKE', 'CDL3OUTSIDE', 'CDL3STARSINSOUTH', 'CDL3WHITESOLDIERS', 'CDLABANDONEDBABY', 'CDLADVANCEBLOCK', 'CDLBELTHOLD', 'CDLBREAKAWAY', 'CDLCLOSINGMARUBOZU', 'CDLCONCEALBABYSWALL', 'CDLCOUNTERATTACK', 'CDLDARKCLOUDCOVER', 'CDLDOJI', 'CDLDOJISTAR', 'CDLDRAGONFLYDOJI', 'CDLENGULFING', 'CDLEVENINGDOJISTAR', 'CDLEVENINGSTAR', 'CDLGAPSIDESIDEWHITE', 'CDLGRAVESTONEDOJI', 'CDLHAMMER', 'CDLHANGINGMAN', 'CDLHARAMI', 'CDLHARAMICROSS', 'CDLHIGHWAVE', 'CDLHIKKAKE', 'CDLHIKKAKEMOD', 'CDLHOMINGPIGEON', 'CDLIDENTICAL3CROWS', 'CDLINNECK', 'CDLINVERTEDHAMMER', 'CDLKICKING', 'CDLKICKINGBYLENGTH', 'CDLLADDERBOTTOM', 'CDLLONGLEGGEDDOJI', 'CDLLONGLINE', 'CDLMARUBOZU', 'CDLMATCHINGLOW', 'CDLMATHOLD', 'CDLMORNINGDOJISTAR', 'CDLMORNINGSTAR', 'CDLONNECK', 'CDLPIERCING', 'CDLRICKSHAWMAN', 'CDLRISEFALL3METHODS', 'CDLSEPARATINGLINES', 'CDLSHOOTINGSTAR', 'CDLSHORTLINE', 'CDLSPINNINGTOP', 'CDLSTALLEDPATTERN', 'CDLSTICKSANDWICH', 'CDLTAKURI', 'CDLTASUKIGAP', 'CDLTHRUSTING', 'CDLTRISTAR', 'CDLUNIQUE3RIVER', 'CDLUPSIDEGAP2CROWS', 'CDLXSIDEGAP3METHODS', 'AVGPRICE', 'MEDPRICE', 'TYPPRICE', 'WCLPRICE', 'BETA', 'CORREL', 'LINEARREG', 'LINEARREG_ANGLE', 'LINEARREG_INTERCEPT', 'LINEARREG_SLOPE', 'STDDEV', 'TSF', 'VAR', 'ATR', 'NATR', 'TRANGE', 'AD', 'ADOSC', 'OBV']

In [5]:
apple_data = pd.read_csv('../src/data/yfinance_data/AAPL_historical_data.csv')
amazon_data = pd.read_csv('../src/data/yfinance_data/AMZN_historical_data.csv')
google_data = pd.read_csv('../src/data/yfinance_data/GOOG_historical_data.csv')
meta_data = pd.read_csv('../src/data/yfinance_data/META_historical_data.csv')
microsoft_data = pd.read_csv('../src/data/yfinance_data/MSFT_historical_data.csv')
nvidia_data = pd.read_csv('../src/data/yfinance_data/NVDA_historical_data.csv')
tesla_data = pd.read_csv('../src/data/yfinance_data/TSLA_historical_data.csv')

In [4]:
apple_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0

In [10]:
microsoft_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1986-03-13,0.088542,0.101563,0.088542,0.097222,0.059946,1031788800,0.0,0.0
1,1986-03-14,0.097222,0.102431,0.097222,0.100694,0.062087,308160000,0.0,0.0
2,1986-03-17,0.100694,0.103299,0.100694,0.102431,0.063158,133171200,0.0,0.0
3,1986-03-18,0.102431,0.103299,0.098958,0.099826,0.061552,67766400,0.0,0.0
4,1986-03-19,0.099826,0.100694,0.097222,0.098090,0.060482,47894400,0.0,0.0

In [11]:
amazon_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1997-05-15,0.121875,0.125000,0.096354,0.097917,0.097917,1443120000,0.0,0.0
1,1997-05-16,0.098438,0.098958,0.085417,0.086458,0.086458,294000000,0.0,0.0
2,1997-05-19,0.088021,0.088542,0.081250,0.085417,0.085417,122136000,0.0,0.0
3,1997-05-20,0.086458,0.087500,0.081771,0.081771,0.081771,109344000,0.0,0.0
4,1997-05-21,0.081771,0.082292,0.068750,0.071354,0.071354,377064000,0.0,0.0

In [12]:
nvidia_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1999-01-22,0.043750,0.048828,0.038802,0.041016,0.037621,2714688000,0.0,0.0
1,1999-01-25,0.044271,0.045833,0.041016,0.045313,0.041562,510480000,0.0,0.0
2,1999-01-26,0.045833,0.046745,0.041146,0.041797,0.038337,343200000,0.0,0.0
3,1999-01-27,0.041927,0.042969,0.039583,0.041667,0.038218,244368000,0.0,0.0
4,1999-01-28,0.041667,0.041927,0.041276,0.041536,0.038098,227520000,0.0,0.0

In [13]:
google_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,2004-08-19,2.490664,2.591785,2.390042,2.499133,2.496292,897427216,0.0,0.0
1,2004-08-20,2.515820,2.716817,2.503118,2.697639,2.694573,458857488,0.0,0.0
2,2004-08-23,2.758411,2.826406,2.716070,2.724787,2.721690,366857939,0.0,0.0
3,2004-08-24,2.770615,2.779581,2.579581,2.611960,2.608991,306396159,0.0,0.0
4,2004-08-25,2.614201,2.689918,2.587302,2.640104,2.637103,184645512,0.0,0.0

In [14]:
meta_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,2012-12-12,28.000000,28.139999,27.370001,27.580000,27.523441,46704200,0.0,0.0
1,2012-12-13,27.590000,28.750000,27.430000,28.240000,28.182087,81051600,0.0,0.0
2,2012-12-14,28.180000,28.330000,26.760000,26.809999,26.755020,91631600,0.0,0.0
3,2012-12-17,26.770000,27.000000,26.320000,26.750000,26.695143,57742500,0.0,0.0
4,2012-12-18,26.959999,27.910000,26.900000,27.709999,27.653173,60512900,0.0,0.0

In [6]:
tesla_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500,0.0,0.0
1,2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500,0.0,0.0
2,2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000,0.0,0.0
3,2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000,0.0,0.0
4,2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500,0.0,0.0

In [7]:
tesla_data['Date'] = pd.to_datetime(tesla_data['Date'])
meta_data['Date'] = pd.to_datetime(tesla_data['Date'])
google_data['Date'] = pd.to_datetime(tesla_data['Date'])
microsoft_data['Date'] = pd.to_datetime(tesla_data['Date'])
nvidia_data['Date'] = pd.to_datetime(tesla_data['Date'])
apple_data['Date'] = pd.to_datetime(tesla_data['Date'])
amazon_data['Date'] = pd.to_datetime(tesla_data['Date'])

In [16]:
# Calculate Moving Averages
tesla_data['SMA_10'] = talib.SMA(tesla_data['Close'], timeperiod=10)  # Simple Moving Average with a 10-day window
tesla_data['EMA_10'] = talib.EMA(tesla_data['Close'], timeperiod=10)  # Exponential Moving Average with a 10-day window

# Calculate RSI (Relative Strength Index)
tesla_data['RSI'] = talib.RSI(tesla_data['Close'], timeperiod=14)  # RSI with a 14-day window

# Calculate MACD (Moving Average Convergence Divergence)
macd, macd_signal, macd_hist = talib.MACD(
    tesla_data['Close'], 
    fastperiod=12, 
    slowperiod=26, 
    signalperiod=9
)
tesla_data['MACD'] = macd
tesla_data['MACD_Signal'] = macd_signal
tesla_data['MACD_Hist'] = macd_hist
tesla_data.head(1000)

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,SMA_10,EMA_10,RSI,MACD,MACD_Signal,MACD_Hist
0,2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2014-06-12,13.673333,13.992000,13.514000,13.568000,13.568000,89905500,0.0,0.0,13.680467,13.641265,49.543341,0.041737,0.037303,0.004434
996,2014-06-13,13.652000,13.786000,13.438667,13.761333,13.761333,53164500,0.0,0.0,13.671467,13.663096,53.019389,0.048926,0.039628,0.009299
997,2014-06-16,13.784000,15.032667,13.750667,14.974000,14.974000,198696000,0.0,0.0,13.804200,13.901442,67.939129,0.150738,0.061850,0.088888
998,2014-06-17,14.940667,15.702667,14.856667,15.444667,15.444667,199573500,0.0,0.0,13.982400,14.182028,71.696160,0.266333,0.102746,0.163587
999,2014-06-18,15.433333,15.447333,15.074667,15.141333,15.141333,104103000,0.0,0.0,14.136600,14.356447,66.303553,0.329666,0.148130,0.181536

In [17]:
# Calculate Moving Averages
google_data['SMA_10'] = talib.SMA(google_data['Close'], timeperiod=10)  # Simple Moving Average with a 10-day window
google_data['EMA_10'] = talib.EMA(google_data['Close'], timeperiod=10)  # Exponential Moving Average with a 10-day window

# Calculate RSI (Relative Strength Index)
google_data['RSI'] = talib.RSI(google_data['Close'], timeperiod=14)  # RSI with a 14-day window

# Calculate MACD (Moving Average Convergence Divergence)
macd, macd_signal, macd_hist = talib.MACD(
    google_data['Close'], 
    fastperiod=12, 
    slowperiod=26, 
    signalperiod=9
)
google_data['MACD'] = macd
google_data['MACD_Signal'] = macd_signal
google_data['MACD_Hist'] = macd_hist
google_data.head(1000)

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,SMA_10,EMA_10,RSI,MACD,MACD_Signal,MACD_Hist
0,2010-06-29,2.490664,2.591785,2.390042,2.499133,2.496292,897427216,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-06-30,2.515820,2.716817,2.503118,2.697639,2.694573,458857488,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-07-01,2.758411,2.826406,2.716070,2.724787,2.721690,366857939,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-07-02,2.770615,2.779581,2.579581,2.611960,2.608991,306396159,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-07-06,2.614201,2.689918,2.587302,2.640104,2.637103,184645512,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2014-06-12,11.768638,11.786322,11.519323,11.652822,11.639576,120766974,0.0,0.0,11.923483,12.047751,35.659937,-0.462034,-0.418428,-0.043606
996,2014-06-13,11.659298,11.781092,11.504379,11.531776,11.518669,99852875,0.0,0.0,11.909037,11.953937,34.416893,-0.475293,-0.429801,-0.045492
997,2014-06-16,11.646098,11.957182,11.614715,11.951453,11.937868,143917423,0.0,0.0,11.915861,11.953486,41.969774,-0.446786,-0.433198,-0.013588
998,2014-06-17,11.914591,12.198527,11.768638,12.113097,12.099329,135538133,0.0,0.0,11.908688,11.982506,44.615461,-0.406466,-0.427852,0.021386
999,2014-06-18,12.005002,12.054816,11.865774,11.933271,11.919707,111367875,0.0,0.0,11.917406,11.973554,42.304726,-0.384588,-0.419199,0.034611

In [18]:
# Calculate Moving Averages
amazon_data['EMA_10'] = talib.EMA(amazon_data['Close'], timeperiod=10)  # Exponential Moving Average with a 10-day window

# Calculate RSI (Relative Strength Index)
amazon_data['RSI'] = talib.RSI(amazon_data['Close'], timeperiod=14)  # RSI with a 14-day window

# Calculate MACD (Moving Average Convergence Divergence)
macd, macd_signal, macd_hist = talib.MACD(
    amazon_data['Close'], 
    fastperiod=12, 
    slowperiod=26, 
    signalperiod=9
)
amazon_data['MACD'] = macd
amazon_data['MACD_Signal'] = macd_signal
amazon_data['MACD_Hist'] = macd_hist
amazon_data.head(1000)

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,EMA_10,RSI,MACD,MACD_Signal,MACD_Hist
0,2010-06-29,0.121875,0.125000,0.096354,0.097917,0.097917,1443120000,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,2010-06-30,0.098438,0.098958,0.085417,0.086458,0.086458,294000000,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2010-07-01,0.088021,0.088542,0.081250,0.085417,0.085417,122136000,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2010-07-02,0.086458,0.087500,0.081771,0.081771,0.081771,109344000,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,2010-07-06,0.081771,0.082292,0.068750,0.071354,0.071354,377064000,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2014-06-12,0.812500,0.825000,0.750000,0.771500,0.771500,119212000,0.0,0.0,0.751126,60.662986,0.065260,0.046485,0.018775
996,2014-06-13,0.786000,0.786500,0.751000,0.763500,0.763500,88920000,0.0,0.0,0.753376,59.671556,0.062605,0.049709,0.012897
997,2014-06-16,0.781500,0.845000,0.779500,0.789000,0.789000,115606000,0.0,0.0,0.759853,61.813844,0.061846,0.052136,0.009710
998,2014-06-17,0.795000,0.850000,0.790000,0.844500,0.844500,102158000,0.0,0.0,0.775243,66.041959,0.064974,0.054704,0.010271
999,2014-06-18,0.857000,0.871500,0.842000,0.855500,0.855500,149944000,0.0,0.0,0.789835,66.825970,0.067562,0.057276,0.010287

In [19]:
# Calculate Moving Averages
microsoft_data['EMA_10'] = talib.EMA(microsoft_data['Close'], timeperiod=10)  # Exponential Moving Average with a 10-day window

# Calculate RSI (Relative Strength Index)
microsoft_data['RSI'] = talib.RSI(microsoft_data['Close'], timeperiod=14)  # RSI with a 14-day window

# Calculate MACD (Moving Average Convergence Divergence)
macd, macd_signal, macd_hist = talib.MACD(
    microsoft_data['Close'], 
    fastperiod=12, 
    slowperiod=26, 
    signalperiod=9
)
microsoft_data['MACD'] = macd
microsoft_data['MACD_Signal'] = macd_signal
microsoft_data['MACD_Hist'] = macd_hist
microsoft_data.head(1000)

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,EMA_10,RSI,MACD,MACD_Signal,MACD_Hist
0,2010-06-29,0.088542,0.101563,0.088542,0.097222,0.059946,1031788800,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,2010-06-30,0.097222,0.102431,0.097222,0.100694,0.062087,308160000,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2010-07-01,0.100694,0.103299,0.100694,0.102431,0.063158,133171200,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2010-07-02,0.102431,0.103299,0.098958,0.099826,0.061552,67766400,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,2010-07-06,0.099826,0.100694,0.097222,0.098090,0.060482,47894400,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2014-06-12,0.682292,0.685764,0.678819,0.680556,0.419627,70876800,0.0,0.0,0.660920,71.742441,0.014277,0.012765,0.001512
996,2014-06-13,0.678819,0.697917,0.673611,0.696181,0.429261,132652800,0.0,0.0,0.667331,76.100578,0.016227,0.013457,0.002770
997,2014-06-16,0.685764,0.694444,0.664931,0.667535,0.411598,103348800,0.0,0.0,0.667368,58.336737,0.015285,0.013823,0.001462
998,2014-06-17,0.671875,0.682292,0.668403,0.669271,0.412668,60811200,0.0,0.0,0.667714,58.961914,0.014511,0.013961,0.000551
999,2014-06-18,0.664931,0.678819,0.663194,0.677083,0.417485,56851200,0.0,0.0,0.669418,61.743885,0.014363,0.014041,0.000322

In [20]:
# Calculate Moving Averages
nvidia_data['EMA_10'] = talib.EMA(nvidia_data['Close'], timeperiod=10)  # Exponential Moving Average with a 10-day window

# Calculate RSI (Relative Strength Index)
nvidia_data['RSI'] = talib.RSI(nvidia_data['Close'], timeperiod=14)  # RSI with a 14-day window

# Calculate MACD (Moving Average Convergence Divergence)
macd, macd_signal, macd_hist = talib.MACD(
    nvidia_data['Close'], 
    fastperiod=12, 
    slowperiod=26, 
    signalperiod=9
)
nvidia_data['MACD'] = macd
nvidia_data['MACD_Signal'] = macd_signal
nvidia_data['MACD_Hist'] = macd_hist
nvidia_data.head(1000)

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,EMA_10,RSI,MACD,MACD_Signal,MACD_Hist
0,2010-06-29,0.043750,0.048828,0.038802,0.041016,0.037621,2714688000,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,2010-06-30,0.044271,0.045833,0.041016,0.045313,0.041562,510480000,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2010-07-01,0.045833,0.046745,0.041146,0.041797,0.038337,343200000,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2010-07-02,0.041927,0.042969,0.039583,0.041667,0.038218,244368000,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,2010-07-06,0.041667,0.041927,0.041276,0.041536,0.038098,227520000,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2014-06-12,0.107750,0.110917,0.098833,0.099583,0.091340,1852524000,0.0,0.0,0.104648,42.483243,-0.002987,-0.002865,-0.000123
996,2014-06-13,0.102667,0.103750,0.100333,0.101333,0.092945,1436076000,0.0,0.0,0.104045,44.183958,-0.003070,-0.002906,-0.000165
997,2014-06-16,0.100000,0.104583,0.098667,0.103083,0.094551,924492000,0.0,0.0,0.103870,45.906488,-0.002961,-0.002917,-0.000044
998,2014-06-17,0.107000,0.107917,0.101750,0.102250,0.093786,849120000,0.0,0.0,0.103576,45.191571,-0.002907,-0.002915,0.000007
999,2014-06-18,0.102583,0.104000,0.099917,0.103000,0.094474,868524000,0.0,0.0,0.103471,46.006878,-0.002773,-0.002886,0.000114

In [21]:
# Calculate Moving Averages
meta_data['EMA_10'] = talib.EMA(meta_data['Close'], timeperiod=10)  # Exponential Moving Average with a 10-day window

# Calculate RSI (Relative Strength Index)
meta_data['RSI'] = talib.RSI(meta_data['Close'], timeperiod=14)  # RSI with a 14-day window

# Calculate MACD (Moving Average Convergence Divergence)
macd, macd_signal, macd_hist = talib.MACD(
    meta_data['Close'], 
    fastperiod=12, 
    slowperiod=26, 
    signalperiod=9
)
meta_data['MACD'] = macd
meta_data['MACD_Signal'] = macd_signal
meta_data['MACD_Hist'] = macd_hist
meta_data.head(1000)

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,EMA_10,RSI,MACD,MACD_Signal,MACD_Hist
0,2010-06-29,28.000000,28.139999,27.370001,27.580000,27.523441,46704200,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,2010-06-30,27.590000,28.750000,27.430000,28.240000,28.182087,81051600,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2010-07-01,28.180000,28.330000,26.760000,26.809999,26.755020,91631600,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2010-07-02,26.770000,27.000000,26.320000,26.750000,26.695143,57742500,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,2010-07-06,26.959999,27.910000,26.900000,27.709999,27.653173,60512900,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2014-06-12,121.230003,121.309998,119.940002,120.839996,120.592186,15672100,0.0,0.0,120.176147,45.214665,-2.281802,-2.453923,0.172121
996,2014-06-13,121.010002,121.139999,120.070000,120.379997,120.133133,8658600,0.0,0.0,120.213210,44.259273,-2.120340,-2.387206,0.266867
997,2014-06-16,120.120003,121.690002,119.820000,120.410004,120.163078,18101300,0.0,0.0,120.248991,44.341890,-1.967281,-2.303221,0.335940
998,2014-06-17,120.570000,122.099998,120.400002,120.870003,120.622131,18891000,0.0,0.0,120.361902,45.671295,-1.788249,-2.200227,0.411978
999,2014-06-18,120.320000,121.790001,117.949997,118.419998,118.177147,30188900,0.0,0.0,120.008829,40.168215,-1.823045,-2.124790,0.301746

In [22]:
# Calculate Moving Averages
apple_data['EMA_10'] = talib.EMA(apple_data['Close'], timeperiod=10)  # Exponential Moving Average with a 10-day window

# Calculate RSI (Relative Strength Index)
apple_data['RSI'] = talib.RSI(apple_data['Close'], timeperiod=14)  # RSI with a 14-day window

# Calculate MACD (Moving Average Convergence Divergence).

macd, macd_signal, macd_hist = talib.MACD(
    apple_data['Close'], 
    fastperiod=12, 
    slowperiod=26, 
    signalperiod=9
)
apple_data['MACD'] = macd
apple_data['MACD_Signal'] = macd_signal
apple_data['MACD_Hist'] = macd_hist
apple_data.head(1000)

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,EMA_10,RSI,MACD,MACD_Signal,MACD_Hist
0,2010-06-29,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,2010-06-30,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2010-07-01,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2010-07-02,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,2010-07-06,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2014-06-12,0.106027,0.107701,0.103237,0.103795,0.080015,165760000,0.0,0.0,0.107433,39.775622,-0.002074,-0.001413,-0.000661
996,2014-06-13,0.103795,0.104353,0.097656,0.097656,0.075283,232982400,0.0,0.0,0.105655,33.168977,-0.002738,-0.001678,-0.001060
997,2014-06-16,0.101004,0.101563,0.101004,0.101004,0.077864,263244800,0.0,0.0,0.104809,39.109017,-0.002960,-0.001934,-0.001026
998,2014-06-17,0.103237,0.103795,0.103237,0.103237,0.079585,178729600,0.0,0.0,0.104523,42.763084,-0.002922,-0.002132,-0.000790
999,2014-06-18,0.104353,0.107701,0.104353,0.106027,0.081736,137088000,0.0,0.0,0.104797,47.039447,-0.002636,-0.002233,-0.000404